.search-bar-container {
  position: sticky;
  top: 10px;
  max-width: 100%;
  width: 340px;
  margin: 10px auto 0;
  z-index: 2;
}

.search-bar {
  padding: 14px 20px 14px 30px;
  border-radius: 999px;
  background-color: var(--color-granite);
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.search-bar.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) 2;
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--color-water-10);
  border-bottom: 2px solid var(--color-water-10);
  font-size: 0.9rem;
  width: 100%;
  border-radius: 2px;
}

.search-bar__input:focus {
  outline: var(--color-water-10) 2px solid;
  outline-offset: 3px;
}

.search-bar__button {
  background-color: transparent;
  padding: 0;
  border: none;
}

.search-bar__button:hover {
  width: 28px;
  transition: all 1s ease-in;
}

.search-bar__icon {
  width: 100%;
  aspect-ratio: 1 / 1;
  filter: invert();
}
